.item {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  padding-left: 10px;
}

.votesWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 25%;
}

.vote {
  display: flex;
  align-items: center;
  width: 50%;
}

.upVoteArrow {
  color: green;
}
.downVoteArrow {
  color: red;
}

.voteBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.time {
  width: 20%;
  justify-content: center;
}

.url {
  width: 45%;
}

.flagContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  height: 30px;
  width: 30px;
}